adjustText==0.7.3
alabaster==0.7.12
alchemlyb==2.0.0
AmberLite==22.0
AmberUtils==21.0
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
astunparse 
attrs 
autopep8==2.0.0
Babel==2.10.3
backcall 
backports.functools-lru-cache 
beautifulsoup4 
biopython 
BioSimSpace==2022.2.1+115.g93d89b16
bleach 
brotlipy 
cached-property 
cachetools 
certifi==2022.12.7
cffi 
cftime 
charset-normalizer 
cinnabar 
colorama 
ConfigArgParse 
contourpy 
cryptography 
cycler 
Cython 
debugpy 
decorator 
defusedxml 
docutils==0.19
entrypoints 
exceptiongroup 
executing 
fasteners 
fastjsonschema 
flit_core 
fonttools 
greenlet 
GridDataFormats 
gsd 
h5py 
idna 
imagesize==1.4.1
importlib-metadata 
importlib-resources 
iniconfig 
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
jax 
jaxlib==0.4.2
jedi 
Jinja2 
joblib 
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver
lomap2
MarkupSafe 
matplotlib 
matplotlib-inline 
MDAnalysis 
mdtraj 
mistune 
MMPBSA.py==16.0
mmtf-python 
mrcfile 
msgpack 
munkres==1.1.4
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
netCDF4 
networkx 
nglview
numpy
notebook
notebook_shim
OpenMM==7.7.0
opt-einsum 
packaging 
packmol-memgen==1.2.3rc0
pandas==1.5.2
pandocfilters 
panedr 
ParmEd==3.4.1
parso 
patsy 
pbr 
pdb4amber==22.0
pexpect 
pickleshare 
Pillow 
Pint 
pipeline==0.1
pkgutil_resolve_name 
platformdirs 
plotly 
pluggy 
ply==3.11
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
py3Dmol 
pycairo==1.23.0
pycodestyle==2.9.1
pycparser 
pydantic 
pydot 
pyedr 
Pygments 
pygtail 
pymbar==4.0.1
pyMSMT==22.0
pyOpenSSL 
pyparsing 
pypdb 
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
pytest==7.2.0
python-constraint==1.4.0
python-dateutil 
pytraj==2.0.6
pytz 
PyYAML 
pyzmq 
qtconsole 
QtPy 
reportlab==3.5.68
requests 
sander==22.0
scikit-learn 
scipy==1.9.3
seaborn 
Send2Trash 
sip 
six 
sniffio 
snowballstemmer==2.2.0
soupsieve 
Sphinx==5.1.1
sphinx-togglebutton==0.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy 
stack-data 
statsmodels 
tables 
tenacity 
terminado 
threadpoolctl 
tidynamics==1.0.0
tinycss2 
toml 
tomli 
tornado 
tqdm 
traitlets 
typing_extensions 
unicodedata2 
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
xmltodict 
zipp 
